---
- name: Ensure .ssh directory exists
  file:
    path: "~/.ssh"
    state: directory
    mode: '0700'

- name: Generate ECDSA 521 SSH Keypair
  community.crypto.openssh_keypair:
    path: ~/.ssh/id_ecdsa
    type: ecdsa
    size: 521
    state: present
  # Creates the key only if it doesn't exist

- name: Import public keys from GitHub
  ansible.posix.authorized_key:
    user: "{{ ansible_user }}"
    state: present
    key: "https://github.com/{{ github_user }}.keys"
    exclusive: no
  # 'exclusive: yes' ensures ONLY your GitHub keys can access the Pi (no) is a failsafe #trasba)

- name: Install prerequisite packages (Pip)
  become: yes
  apt:
    name: 
      - python3-pip
      - python3-setuptools
      - tmux
    state: present
    update_cache: yes
    cache_valid_time: 3600